<p>{{ givenDay }} was a blast!</p>
<p>{{ givenDay | date }} was a blast!</p>
<p>{{ givenDay | date:"MM-dd-yyyy" }} was a blast!</p>
<p>Any given day was in {{ givenDay | date:"yyyy" }}</p>

<p [style.font-size]="isSpecial ? 'x-large' : 'smaller' ">Font size depends on isSpecial</p>

<p [hidden] = "isUnchanged">Pirate has been updated. Hit save.</p>
<button [disabled] = "isUnchanged">Save</button>

<div>
  <img src="{{ imageUrl }}" />
</div>

<div>
  <img [src]="imageUrl" />
</div>

<div>
  <img bind-src="imageUrl" />
</div>