<p>{{ givenDay | date:"yyyy" }}</p>

<p [style.font-size]="isSpecial ? 'x-large' : 'smaller' ">Font size depends on isSpecial</p>

<p [ngClass]="currentClasses">This class binding is special</p>
<!-- <p [class.special]="isSpecial">This class binding is special</p> -->

<p [hidden] = "isUnchanged">Pirate has been updated. Hit save.</p>
<button [disabled] = "isUnchanged">Save</button>

<div>
  <img src="{{ imageUrl }}" />
</div>

<div>
  <img [src]="imageUrl" />
</div>

<div>
  <img bind-src="imageUrl" />
</div>